extends ../layout

block content
    h1= title
    form(action='/books' method='post')
        h2(class='error') Oooops!
            ul(class='error')
                li Author is required
                li Name is required
        include includes/form
        p
            input(type='submit' value='Add') 
        p
            a(class='button' href='/books/') Cancel

