extends ../layout

block content
  h1= title
  include includes/search
  p 
    a(class='button', href='/books/new') Create New Book
  if books.length > 0
    include includes/table
  else if search.occurred
    p There are no books matching your search query
  else
    p There are currently no books in the database
    
  if search.occurred
    p
      a(class='button' href='/books/') ← Return
  
  script(src='/javascripts/functions.js')
  script(src='/javascripts/script.js')