extends ../layout

block content
    h1= title
    if errors
        include includes/form-error
    form(action='/books/new' method='post')
        include includes/form
        p
            input(type='submit' value='Add') 
        p
            a(class='button' href='/books/') Cancel