extends ../layout

block content
    h1= title
    if errors
        include includes/form-error
    form(action='/books/' + book.id, method='post')
        include includes/form
        p   
            input(type='submit' value='Update')
    form(action='/books/' + book.id + '/delete', method='post')
        p
            a(class='button' href='/books/') Cancel
        p   
            input(type='submit' value='Delete')
        